/*============================================
; Title:  styles.css
; Author: Professor Krasso
; Date: 31 March 2020
; Modified by: Joanna Brumfield
; Description: 8.2 css
;===========================================*/
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: rgb(51, 51, 51)
}
body {
  margin: 0;
  padding: 0;
}
#topbar {
  padding: .7rem;
  max-width:100%;
  background-color: rgb(68, 179, 194);
}
#hide {
  float: right;
}
#fruits {
  width: 15%;
  margin: 0 auto;
}
a {
  padding: 0 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}
h2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 400;
  text-decoration: underline;
}
ul {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}
li {
  padding-top: .4rem;
}
.fruitId {
  font-weight: 500;
}
.fruitType {
  font-weight: 300;
}
